body {
    background: #0D1326;
    font-family: "Bitter", serif;
    color: white;
}

/* Golos Text */
/*Bitter */

/*NAV*/
.line {
    width: 100%;
    height: 2px;
    background-color: white;
}

/*HOME*/

.home .title {
    font-family: 'Golos Text';
    font-size: clamp(1.2rem, 3.3vw, 2.3rem);
}

.home p {
    font-size: clamp(1.4rem, 3.5vw, 2.5rem);
    line-height: 1;
}

.home img {
    width: 30vw;
    height: auto;
}

/*ABOUT ME*/
.about .title {
    font-size: clamp(1.2rem, 3.3vw, 2.3rem);
}

.about img{
    width: 320px;
    height: auto;
}

@media (min-width: 769px) and (max-width: 991px) {
  .about .perfil {
    margin-top: 150px;
  }
}

@media (max-width: 768px) {
    .about .perfil{
        order: 2;
        margin-left: 150px;
    }

    .about .text{
        order: 1;
    }
}