body {
    background: #0D1326;
    font-family: "Bitter", serif;
    color: white;
    padding-top: 100px;
}

.btn {
    background-color: #4634BF;
    font-family: 'Golos Text';
    color: white;
    text-decoration: none;
}

.btn:hover {
    background-color: #4B5CBF;
    color: white;
}

/* Golos Text */
/*Bitter */

/*NAV*/
.navbar-collapse {
  transition: height .35s ease;
}

.line {
    position: fixed;
    top: 55px;
    width: 100%;
    height: 2px;
    background-color: white;
    z-index: 1049;
}

/*HOME*/

.home .title {
    font-family: 'Golos Text';
    font-size: clamp(1.2rem, 3.3vw, 2.3rem);
}

.home p {
    font-size: clamp(1.4rem, 3.5vw, 2.5rem);
    line-height: 1;
}

.home img {
    width: 30vw;
    height: auto;
}

.home .btn-home {
    width: 220px;
    height: 56px;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    white-space: normal;
    padding: 0 12px;
}

/* mobile */
@media (max-width: 576px) {
    .btn-home {
        width: 100%;
        max-width: 280px;
        font-size: 0.9rem;
    }
}


/*ABOUT ME*/
.about .title {
    font-size: clamp(1.2rem, 3.3vw, 2.3rem);
}

.about .txt {
    font-family: 'Golos Text';
}

.about img {
    width: 320px;
    height: auto;
}

@media (min-width: 769px) and (max-width: 991px) {
    .about .perfil {
        margin-top: 150px;
    }
}

@media (max-width: 768px) {
    .about .perfil {
        order: 2;
    }

    .about .text {
        order: 1;
    }
}

/*Portfolio*/
.portfolio {
    position: relative;
}

.portfolio h1 {
    position: relative;
    z-index: 2;
}

.portfolio .card {
    background-color: #14193A;
    width: 18rem;
    height: 402px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
    border-radius: 12px;
    z-index: 2;
    position: relative;
}

.portfolio .card-body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.portfolio .card-text {
    color: #d1d5ff;
    font-size: 0.95rem;
    flex-grow: 1;
}

.portfolio .blob {
    position: absolute;
    z-index: 1;
}

.portfolio .blob-left {
    width: 40vw;
    height: 40vw;
}

.portfolio .blob-rigth {
    width: 30vw;
    height: 30vw;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    .portfolio .blob-left {
        width: 200px;
        height: 400px;
    }

    .portfolio .blob-rigth {
        width: 300px;
        height: 500px;
        transform: translateY(-5%);
    }
}

/*Skills*/

.skills .card {
    width: 120px;
    height: 120px;
    padding: 10px;

}

.skills .blocow {
    background-color: #D9D9D9;
}

.skills .blocor {
    background-color: #4321BF;
}

.skills img {
    max-width: 100px;
    max-height: 100px;
}

canvas {
    display: block;
    width: 100%;
}

.skills .wave-bottom {
    margin-top: -100px;
}

/*Certificates*/

.certificates .nav-certification {
    display: flex;
    justify-content: center;
}

.certificates .nav-certification .nav-tabs {
    width: 100%;
}

.certificates .nav-link:active {
    transform: scale(0.97);
}

/* Base das tabs */
.nav-tabs {
    border-bottom: none;
}

/* Tabs padrão (desativadas) */
.nav-tabs .nav-link {
    flex: 1;
    text-align: center;
    color: #fff;
    background-color: #4B5CBF;
    border: none;
    border-bottom: 4px solid #fff;
    position: relative;
}

/* Hover */
.nav-tabs .nav-link:hover {
    background-color: #4634BF;
}

/* Tab ativa (geral) */
.nav-tabs .nav-link.active {
    background-color: #4634BF;
    color: #fff;
}

/* Development ativo → borda à DIREITA */
.nav-tabs .nav-link.active:first-child {
    border-right: 4px solid #fff;
}

/* Design ativo → borda à ESQUERDA */
.nav-tabs .nav-link.active:last-child {
    border-left: 4px solid #fff;
}

.certificates .cert {
    width: 50px;
    height: auto;
}

.certificates .bag {
    width: 50px;
    height: auto;
}

/*CONTACT*/

.contact {
    min-height: 500px;
    position: relative;
    overflow: hidden;
}


.contact .background {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.contact form {
    background-color: #14193a70;
    padding: 20px;
    border-radius: 10px;
}

.contact .form-control {
    background-color: #14193a70;
    border-color: #14193a70;
    color: white;
}

.contact .form-control:focus {
    background-color: #14193a70;
    border-color: #14193a;
    color: white;
    outline: none;
}

.contact textarea {
    background-color: #14193a70;
    border-color: #14193a70;
    color: white;
}

.contact textarea:focus {
    background-color: #14193a70;
    border-color: #14193a;
    color: white;
    outline: none;
}

.contact .card {
    background-color: #14193a68;
}

.contact .container-duplo {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact ::placeholder {
    color: #ffffff;
    opacity: 0.7; 
}

.contact .line{
    background-color: white;
    width: 100%;
    height: 3px;
    position: relative;
    z-index: 4;
}


.contact .img-link{
    width: 50px;
    height: auto;
    margin-bottom: 10px;
}

.contact .img-git{
    width: 40px;
    height: auto;
    margin-bottom: 10px;
}

.contact .foot{
    margin-top: 70px;
}



@media (max-width: 768px) {
    .contact .text {
        order: 1;
    }

    .contact .form {
        order: 2;
    }
}