body {
    background: #0D1326;
    font-family: "Bitter", serif;
    color: white;
    padding-top: 100px;
}

.btn {
    background-color: #4634BF;
    font-family: 'Golos Text';
    color: white;
    text-decoration: none;
}

.btn:hover {
    background-color: #4B5CBF;
    color: white;
}

/* Golos Text */
/*Bitter */

/*NAV*/

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1050; 
}

.line {
    position: fixed;
    top: 55px;
    width: 100%;
    height: 2px;
    background-color: white;
    z-index: 1049;
}

/*HOME*/

.home .title {
    font-family: 'Golos Text';
    font-size: clamp(1.2rem, 3.3vw, 2.3rem);
}

.home p {
    font-size: clamp(1.4rem, 3.5vw, 2.5rem);
    line-height: 1;
}

.home img {
    width: 30vw;
    height: auto;
}

/*ABOUT ME*/
.about .title {
    font-size: clamp(1.2rem, 3.3vw, 2.3rem);
}

.about .txt {
    font-family: 'Golos Text';
}

.about img {
    width: 320px;
    height: auto;
}

@media (min-width: 769px) and (max-width: 991px) {
    .about .perfil {
        margin-top: 150px;
    }
}

@media (max-width: 768px) {
    .about .perfil {
        order: 2;
    }

    .about .text {
        order: 1;
    }
}

/*Portfolio*/

.portfolio .card {
    background-color: #14193A;
    width: 18rem;
    height: 402px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
    border-radius: 12px;
}

.portfolio .card-body {
display: flex;
flex-direction: column;
height: 100%;
}

.portfolio .card-text {
color: #d1d5ff;
font-size: 0.95rem;
flex-grow: 1;
}
