body{
    background: #0D1326;
    font-family: "Bitter", serif;
}

/* Golos Text */
/*Bitter */

/*NAV*/
.line{
    width: 100%;
    height: 2px;
    background-color: white;
}

/*HOME*/
.home{
    color: white;
    
}

.home .title{
 font-family: 'Golos Text';
font-size: clamp(1.2rem, 3.3vw, 2.3rem);
}

.home p {
  font-size: clamp(1.4rem, 3.5vw, 2.5rem);
  line-height: 1;
}

.home img{
    width: 30vw;
    height: auto;
}